:root {
	--clr-blue:			#99EEFF;
	--clr-blue-h:		#89D6E5;
	--clr-green:		#96FFAA;
	--clr-green-h:		#8AE599;
	--clr-yellow:		#F6FF99;
	--clr-yellow-h:		#DDE58A;
	--clr-red:			#8E110B;
	--clr-red-h:		#750E09;
	--clr-gray:			#777777;
	--clr-gray-dark:	#333333;
	--clr-gray-light:	#EEEEEE;
	--clr-gray-light-h:	#DDDDDD;
}

html {
	font-size: 100%;
}

body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: .875rem;
	background-color: var(--clr-gray-light);
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0; padding: 0;
}

a { text-decoration: none; }

button, input {
	outline: none;
}

#choose #logo {
	display: inline-block;
	width: 128px;
	height: 128px;
}

#choose {
	color: var(--clr-gray-dark);
	height: 500px;
	margin: -250px 0 0 -250px;
	padding: 20px;
	position: fixed;
	text-align: center;
	top: 50%; left: 50%;
	width: 500px;
}

#choose p {
	margin-bottom: 20px;
}

#choose button {
	background-color: white;
	border: none;
	color: var(--clr-gray-dark);
	cursor: pointer;
	display: block;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: bold;
	margin: 0 auto 20px;
	padding: 20px;
	width: 200px;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

#choose button:first-of-type {
	margin-top: 80px;
}

@media (hover: hover) {
	#choose button:hover {
		background-color: var(--clr-gray-light-h);
	}
}

#choose button:active {
	background-color: var(--clr-gray-light-h);
}

header {
	border-bottom: 1px solid var(--clr-gray-light);
	display: flex;
	gap: 20px;
	height: 100px;
	justify-content: space-between;
	max-width: 1200px;
	padding: 0 20px;
	position: fixed;
	top: 0; left: 320px;
	width: calc(100% - 320px);
	align-items: center;
	z-index: 4;
}

header.full {
	left: 50%;
	transform: translateX(-50%);
}

#header-background {
	background-color: white;
	height: 100%;
	left: -2000px;
	position: absolute;
	right: -2000px;
	top: 0;
	z-index: 4;
}

header.full #header-background {

}

#menu-button, #close-button, #option-button {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

#menu-button {
	background: none;
	border: none;
	display: none;
	height: 21px;
	position: absolute;
	top: 7px;
	width: 21px;
}

#menu-button img, #option-button img {
	height: 100%;
	transition: .3s filter;
}

@media (hover: hover) {
	#menu-button:hover img, #option-button:hover img {
		filter: grayscale(100%) brightness(300%);
	}
}

#menu-button:active img, #option-button:active img {
	filter: grayscale(100%) brightness(300%);
}

#title-wrapper {
	display: inline-block;
	position: relative;
	z-index: 5;
}

#title {
	font-size: 2.1rem;
	font-weight: bold;
	color: var(--clr-red);
	transition: .3s;
}

#title.short {
	font-size: 1.4rem;
}

#lang {
	display: flex;
	align-items: center;
	z-index: 5;
}

#lang a {
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	color: var(--clr-red);
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	transition: .3s;
}

#lang a:first-of-type {
	margin-right: 20px;
}

#lang a.active {
	border-bottom: 3px solid var(--clr-red);
	/*text-decoration: underline;*/
}

@media (hover: hover) {
	#lang a:hover {
		color: var(--clr-gray);
	}
}

#lang a:active {
	color: var(--clr-gray);
}

@media (hover: hover) {
	#lang a.active:hover {
		border-bottom: 3px solid #777;
	}
}

#lang a.active:active {
	border-bottom: 3px solid #777;
}

#option-button {
	background: none;
	border: none;
	display: inline-block;
	height: 21px;
	margin-left: 20px;
	width: 21px;
}

#option-menu {
	background-color: white;
	border: 0px solid var(--clr-gray-light);
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 50px;
	top: 50px;
	width: 0;
	z-index: 6;
}

#option-menu a {
	color: var(--clr-gray);
	cursor: pointer;
	display: block;
	padding: 10px 0;
	transition: .3s;
	white-space: nowrap;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

#option-menu a.lang {
	border-top: none;
	color: var(--clr-red);
	display: none;
	font-weight: bold;
	margin-top: 0;
}

@media (hover: hover) {
	#option-menu a:hover {
		color: var(--clr-red);
	}
}

#option-menu a:active {
	color: var(--clr-red);
}

@media (hover: hover) {
	#option-menu a.lang:hover {
		color: var(--clr-gray);
	}
}

#option-menu a.lang:active {
	color: var(--clr-gray);
}

#option-menu .spacer {
	background-color: var(--clr-gray-light);
	display: block;
	height: 1px;
	margin: 10px 0;
	width: 100%;
}

#back-button {
	display: inline-block;
	height: 21px;
	margin-right: 20px;
	width: 21px;
}

#back-button img {
	height: 100%;
	transition: .3s filter;
}

@media (hover: hover) {
	#back-button:hover img {
		filter: grayscale(100%) brightness(300%);
	}
}

#back-button:active img {
	filter: grayscale(100%) brightness(300%);
}

#search {
	display: inline-block;
	position: relative;
	width: 100%;
	z-index: 5;
}

#search-field {
	background: rgba(143, 17, 11, .05);
	border: none;
	border-radius: 17px;
	color: var(--clr-red);
	display: inline-block;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	height: 35px;
	padding: 2px 10px 2px 40px;
	width: 100%;
}

#search-field::-webkit-input-placeholder { color: rgba(255, 255, 255, .5); }
#search-field::-moz-placeholder { color: rgba(255, 255, 255, .5); }
#search-field::-ms-input-placeholder { color: rgba(255, 255, 255, .5); }
#search-field:-moz-placeholder { color: rgba(255, 255, 255, .5); }

#search-button {
	background: none;
	border: none;
	cursor: pointer;
	height: 20px;
	position: absolute;
	top: 8px; left: 10px;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

#search-button img {
	height: 100%;
	transition: .3s filter;
}

@media (hover: hover) {
	#search-button:hover img {
		filter: grayscale(100%) brightness(300%);
	}
}

#search-button:active img {
	filter: grayscale(100%) brightness(300%);
}

#player {
	align-items: center;
	display: flex;
	justify-content: space-between;
	left: 50%;
	/* margin-left: -220px; */
	position: absolute;
	transform: translateX(-50%);
	z-index: 5;
}

#player button {
	border: none;
	color: white;
	cursor: pointer;
	height: 21px;
	margin-right: 15px;
	width: 21px;
	transition: .3s filter;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

@media (hover: hover) {
	#player button:hover {
		filter: grayscale(100%) brightness(300%);
	}
}

#player button:active {
	filter: grayscale(100%) brightness(300%);
}

#player .play {
	background: url(../images/play.svg) no-repeat center/100%;
}

#player .pause {
	background: url(../images/pause.svg) no-repeat center/100%;
}

#player-progress-wrapper {
	background-color: var(--clr-gray-light);
	border-radius: 5px;
	cursor: pointer;
	height: 10px;
	position: relative;
	width: 400px;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

#player-progress {
	background-color: var(--clr-red);
	border-radius: 5px;
	height: 10px;
	width: 0;
}

#player-progress-wrapper p {
	bottom: -15px;
	color: var(--clr-gray);
	font-size: .6rem;
	position: absolute;
}

#player-start {
	left: 0;
}

#player-end {
	right: 0;
}

#no-audio {
	color: var(--clr-gray);
	display: block;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

aside {
	background-color: white;
	border-right: 1px solid var(--clr-gray-light);
	bottom: 0;
	left: 0;
	-ms-overflow-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	scrollbar-width: none;
	top: 0;
	width: 320px;
	z-index: 6;
}

aside::-webkit-scrollbar {
	display: none;
}

#close-button {
	display: none;
	position: absolute;
	top: 19px; right: 20px;
	font-size: 2.1rem;
	color: var(--clr-gray);
	transition: .3s;
}

@media (hover: hover) {
	#close-button:hover {
		color: var(--clr-red);
	}
}

#close-button:active {
	color: var(--clr-red);
}

aside #title {
	height: 100px;
	line-height: 100px;
	padding-left: 20px;
}

aside p {
	border-bottom: 1px solid var(--clr-gray-light);
	color: var(--clr-gray);
	display: block;
	margin: 0 0 20px 20px;
	padding: 10px 0;
	width: 280px;
}

aside p.spacer {
	padding: 0;
}

#psalmlist {
	left: 320px;
	max-width: 1200px;
	padding: 20px 20px 40px;
	position: relative;
	top: 100px;
	width: calc(100% - 320px);
	z-index: 2;
}

header, aside, .tag-button, #psalmlist a, #psalm, #choose, #choose button, #option-menu {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#steps {
	margin: 20px 0;
}

.step-button, .tag-button {
	display: block;
	padding: 10px 0;
	text-align: left;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: bold;
	border: none;
	cursor: pointer;
	background: white;
	color: var(--clr-gray);
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

.step-button {
	border-left: 10px solid;
	padding-left: 20px;
	margin-bottom: 1px;
	transition: all 0.25s ease-in-out;
	width: calc(100% - 20px);
}

#tags {
	height: 284px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.tag-button {
	float: left;
	width: 132px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.tag-button:nth-child(even) {
	margin-right: 0;
}

@media (hover: hover) {
	.tag-button:hover, .step-button:hover {
		background-color: var(--clr-gray-light);
	}
}

.tag-button:active, .step-button:active {
	background-color: var(--clr-gray-light);
}

#pre { border-color: var(--clr-gray-light); }
#cat { border-color: var(--clr-blue); }
#ele { border-color: var(--clr-green); }
#lit { border-color: var(--clr-yellow); }

#pre.selected { background-color: var(--clr-gray-light); }
#cat.selected { background-color: var(--clr-blue); }
#ele.selected { background-color: var(--clr-green); }
#lit.selected { background-color: var(--clr-yellow); }

@media (hover: hover) {
	#pre.selected:hover {
		background-color: var(--clr-gray-light-h);
		border-color: var(--clr-gray-light-h);
	}
}

#pre.selected:active {
	background-color: var(--clr-gray-light-h);
	border-color: var(--clr-gray-light-h);
}

@media (hover: hover) {
	#cat.selected:hover {
		background-color: var(--clr-blue-h);
		border-color: var(--clr-blue-h);
	}
}

#cat.selected:active {
	background-color: var(--clr-blue-h);
	border-color: var(--clr-blue-h);
}

@media (hover: hover) {
	#ele.selected:hover {
		background-color: var(--clr-green-h);
		border-color: var(--clr-green-h);
	}
}

#ele.selected:active {
	background-color: var(--clr-green-h);
	border-color: var(--clr-green-h);
}

@media (hover: hover) {
	#lit.selected:hover {
		background-color: var(--clr-yellow-h);
		border-color: var(--clr-yellow-h);
	}
}

#lit.selected:active {
	background-color: var(--clr-yellow-h);
	border-color: var(--clr-yellow-h);
}

#tags .selected { color: white; background-color: var(--clr-red); }

@media (hover: hover) {
	#tags .selected:hover { background-color: var(--clr-red-h); }
}

#tags .selected:active { background-color: var(--clr-red-h); }

#psalmlist .pre, #psalm.pre { background-color: white; }
#psalmlist .lit, #psalm.lit { background-color: var(--clr-yellow); }
#psalmlist .cat, #psalm.cat { background-color: var(--clr-blue); }
#psalmlist .ele, #psalm.ele { background-color: var(--clr-green); }

@media (hover: hover) {
	#psalmlist .pre:hover { background-color: var(--clr-gray-light-h); }
	#psalmlist .lit:hover { background-color: var(--clr-yellow-h); }
	#psalmlist .cat:hover { background-color: var(--clr-blue-h); }
	#psalmlist .ele:hover { background-color: var(--clr-green-h); }
}

#psalmlist .pre:active { background-color: var(--clr-gray-light-h); }
#psalmlist .lit:active { background-color: var(--clr-yellow-h); }
#psalmlist .cat:active { background-color: var(--clr-blue-h); }
#psalmlist .ele:active { background-color: var(--clr-green-h); }

#no-results {
	color: var(--clr-gray);
	display: block;
	left: 320px; right: 0;
	padding: 15px;
	position: absolute;
	text-align: center;
	z-index: -1;
}

#psalmlist a {
	display: block;
	width: 100%;
	padding: 15px;
	margin-bottom: 1px;
	text-align: left;
	color: var(--clr-gray-dark);
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	transition-duration: 0.3s;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	z-index: 2;
}

#psalmlist a span {
	float: right;
	font-size: 0.8rem;
	font-weight: normal;
	color: var(--clr-gray);
}

#psalmlist a.hide {
	display: none;
}

#psalm {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 40px;
	position: relative;
}

#psalm h1 {
	display: block;
	padding: 40px 5% 10px;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	color: var(--clr-red);
}

#psalm h2 {
	color: var(--clr-gray);
	display: block;
	font-size: 1rem;
	font-weight: normal;
	padding: 10px 5%;
	text-align: center;
}

#text {
	display: flex;
	padding: 0 5%;
}

.col {
	flex: 50%;
}

#psalm p {
	padding-top: 2.5rem;
	line-height: 2.5rem;
}

#psalm p.A {
	font-weight: bold;
}

#psalm p.L {
	line-height: 1.5rem;
}

#psalm p.capo {
	position: absolute;
	left: 5%; top: 130px;
	padding-top: 0;
	font-size: 0.8rem;
	color: var(--clr-gray);
}

#psalm p span[data-chord]:before {
	display: inline-block;
	position: relative;
	top: -1.25rem;
	width: 0;
	content: attr(data-chord);
	white-space: nowrap;
	font-weight: bold;
	color: var(--clr-red);
	overflow: visible;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%; height: 100%;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba(12, 12, 12, 0.4);
	z-index: 5;
}

footer {
	bottom: 10px;
	color: var(--clr-gray-light-h);
	left: 50%;
	position: fixed;
	transform: translateX(-50%);
}

@media only screen and (max-width: 1400px) {
	#psalm { margin: 0 10%; }
}

@media only screen and (max-width: 1000px) {
	header {
		height: 80px;
		left: 0;
		width: 100%;
	}
	#title { display: inline-block; font-size: 1.6rem; }
	#menu-button { display: inline-block;; }
	#option-menu { top: 40px; }
	#search-button { left: 45px; }
	#search-field { margin-left: 35px; width: calc(100% - 35px); }
	#player-progress-wrapper { width: 300px; }
	#player button { width: 1.1rem; height: 1.1rem; }
	#back-button img { height: 1.1rem; }
	#close-button { display: block; }
	#psalmlist { padding: 0; left: 0; top: 80px; width: 100%; }
	#no-results { left: 0; }
	aside {
		position: fixed;
		top: 0; left: -320px;
		height: 100%;
		padding: 0 0 10px;
		background-color: white;
		overflow-x: hidden;
		transition: 0.3s;
	}
	aside #title {
		height: 80px;
		line-height: 80px;
	}
	#language { bottom: 20px; }
	#tags, aside p { margin-left: 20px; }
	#psalmlist a { padding: 15px 5%; }
	#psalmlist a span { display: block; float: none; margin-top: 5px; }
	#psalm { padding-top: 80px; margin: 0 5%; }
	#psalm a.psalm { font-size: 1.3rem; }
	#psalm p.capo { left: 5%; top: 80px; }
}

@media only screen and (max-width: 800px) {
	#player-progress-wrapper { width: 200px; }
	#text { display: block; }
	#psalm { margin: 0 0; }
	#psalm p.capo {
		position: static;
		padding-left: 5%;
	}
}

@media only screen and (max-width: 600px) {
	header { height: 60px; }
	#choose {
		background-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		height: 100%;
		margin: 0;
		padding: 80px 20px 0;
		position: static;
		top: inherit; left: inherit;
		width: 100%;
	}
	#close-button { top: 9px; }
	#lang a { display: none; }
	#option-menu { top: 30px; }
	#option-menu a.lang { display: block; }
	aside #title {
		display: block;
		font-size: 1.6rem;
		height: 60px;
		line-height: 60px;
	}
	#player-progress-wrapper { width: 200px; }
	#title, #search-field, { font-size: 1rem; }
	#psalmlist { top: 60px; }
}

@media only screen and (max-width: 400px) {
	#player-progress-wrapper { width: 120px; }
}

@media only screen and (max-width: 300px) {
	#player-progress-wrapper { display: none; }
}
